{# 
/** 
 * @file
 * Rendered templates for country, city and current date time text.
 * @see CurrentTimeBlock file
 * - country 
 * - city
 * - datetime
#}

<p>Country          : {{ country }}</p>
<p>City             : {{ city }}</p>
<p>Date and time    : {{ datetime }}</p>